article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { box-sizing: border-box; }

body {
	background: #f6f6f6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	font-family: 'Ostrich Sans', sans-serif;
	text-transform: uppercase;
	font-style: italic;
	color: #2b2b2b;
	margin: 0;
}

p,
a,
h3,
h4 {
	color: #f6f6f6;
}

p {
	font-size: 30px;
	letter-spacing: 0.05em;
}

a {
	text-decoration: none;
	font-size: 20px;
	position: relative;
}

h1 {
	font-family: 'Ostrich Sans Inline', sans-serif;
	font-weight: normal;
	font-size: 20rem;
	margin: 0;
	text-shadow: 2px 1px 2px #000;
}


h2 {
	font-size: 3rem;
	font-weight: 300;
}

h3 {
	opacity: 0.5;
	font-size: 20px;
}

h4 {
	opacity: 0.5;
	line-height: 25px;
}

h1::after {
	content: '';
	height: 5px;
	background-color: #DE1b1b;
	width: 500px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

header {
	background: #f6f6f6;
	min-height: 50vh;
	display: flex;
	justify-content: center;
	padding-top: 50px;
	text-align: center;
}

section {
	background: #DE1b1b;
	min-height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	background: #2b2b2b;
	padding-top: 50px;
}

.loadingContainer {
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}

.active {
	visibility: visible;
	opacity: 1;
	transition: all 0.3s;
}

.loadingContainer i {
	color: #f6f6f6;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}

.grid {
	padding: 0;
	margin: 0;
}

.overlay {
  background: -webkit-linear-gradient(bottom,rgba(43,43,43,0),rgba(43,43,43,0.9)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,rgba(43,43,43,0),rgba(43,43,43,0.9)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,rgba(43,43,43,0),rgba(43,43,43,0.9)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(43,43,43,0), rgba(43,43,43,0.9)); /*Standard*/
}

footer {
	background: #2b2b2b;
	padding-bottom: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.stripe {
	margin-bottom: 10px;
	height: 10px;
	background: #2b2b2b;
}

.eye {
	font-size: 15rem;
	transition: 0.4s;
}

.eye:hover {
	color: #DE1b1b;
}

input[type=text] {
	font-family: 'Ostrich Sans', sans-serif;
  	font-size: 2rem;
  	color: #f6f6f6;
  	opacity: 0.5;
  	text-align: center;
	width: 300px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: transparent;
	border: none;
	transition: 0.4s;
}

input[type=text]:focus {
	outline: none;
	border-bottom: 2px solid #f6f6f6;
}

.formAddon i {
	color: #f6f6f6;
	opacity: 0.4;
	transition: 0.4s;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f6f6f6;
  opacity: 0.5;
  font-family: 'Ostrich Sans', sans-serif;
  font-size: 2rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #f6f6f6;
  font-family: 'Ostrich Sans', sans-serif;
	font-size: 2rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #f6f6f6;
  font-family: 'Ostrich Sans', sans-serif;
	font-size: 2rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: #f6f6f6;
  font-family: 'Ostrich Sans', sans-serif;
	font-size: 2rem;
}

.grid {
	max-width: 69em;
	list-style: none;
	padding: 0;
}

.grid li {
	display: block;
	float: left;
	padding: 7px;
	width: 33%;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

.grid-item {
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.overlay h3,
.overlay a {
	padding-left: 15px;
	padding-bottom: 15px;
	margin: 0;
}

.overlay a::after {
	content: '';
	position: absolute;
	bottom: 13px;
	left: 13px;
	width: 0%;
	border-bottom: 2px solid #f6f6f6;
	transition: 0.4s;
}

.overlay a:hover::after {
  width: 100px;
}

.overlay h3 {
	padding-bottom: 0;
}

@media screen and (max-width: 1000px) {
	h1 {
		font-size: 17rem;
	}

	h2 {
		font-size: 2.5rem;
	}


}

@media screen and (max-width: 780px) {
	.grid li {
		width: 50%;
	}

	h1 {
		font-size: 13rem;
	}

	h2 {
		font-size: 2rem;
	}

	.eye {
	font-size: 10rem;
}
}

@media screen and (max-width: 640px) {
	.grid li {
		width: 100%;
	}

	h1 {
		font-size: 6rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h1::after {
		width: 300px;
	}

	header {
		min-height: 25vh;
	}
}

@media screen and (max-width: 640px) {
	h2 {
		font-size: 1.3rem;
	}

	input[type="text"] {
		width: 250px;
		font-size: 1rem;
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  font-size: 1.5rem;
	}
	::-moz-placeholder { /* Firefox 19+ */
		font-size: 1.5rem;
	}
	:-ms-input-placeholder { /* IE 10+ */
		font-size: 1.5rem;
	}
	:-moz-placeholder { /* Firefox 18- */
		font-size: 1.5rem;
	}

}
